* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	background-color: #131313;
}
.header {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.header__logo {
	z-index: 10;
	cursor: pointer;
}
.header__link {
	font-weight: 600;
	font-size: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #828282;
}
.header__burger {
	width: 46px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header__burger span {
	position: absolute;
	top: 19px;
	width: 30px;
	height: 2px;
	border-radius: 2px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	border-radius: 2px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.header__burger:before {
	top: 10px;
}
.header__burger:after {
	bottom: 10px;
}

.header__burger.active span {
	transform: scale(0);
}
.header__burger.active:before {
	transform: rotate(45deg);
	top: 19px;
	background-color: #828282;
}
.header__burger.active:after {
	transform: rotate(-45deg);
	bottom: 19px;
	background-color: #828282;
}
.header__menu {
	background-color: #131313;
	position: fixed;
	top: -120%;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 150px;
	text-align: center;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.header__menu.active {
	top: 0;
}
.header__warning {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px 15px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text {
	font-weight: bold;
	font-size: 72px;
	letter-spacing: 0.1em;
	color: #ffffff;
}
.bottom-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}
.btn {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.1em;
	color: #ffffff;
	border: none;
	padding: 19px 20px;
	background: #ef0d33;
	border-radius: 8px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.btn:active {
	background-color: #b40b27;
}
.btn:focus {
	outline: none;
}
.btn:disabled {
	background-color: #000;
}
@media (max-width: 1000px) {
	.text {
		font-size: 48px;
	}
}
@media (max-width: 580px) {
	.text {
		font-size: 32px;
	}
}
